
body {
    display: grid;
    grid-template-columns: 1fr 300px 60px 400px 1fr;
    grid-template-areas: ". paveiksliukas . tekstas .";
    background-color (234, 235, 237);
}
    img {
        grid-area: paveiksliukas;
        display: inline-block;
        height: 700px;
        width: 100%;
         object-fit: contain;        
    }

    div {
        grid-area: tekstas;
        display: inline-block;
        width: 100%; 
        text-align: center;
        margin: 0;
        margin-top: 180px;
        font-size: 24px;
        
    }
        h1 {
            display: inline-block;
            width: 100%;
            font-size: 100px;
            margin: 0;
    
        }
        p {
            display: inline-block;
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }

        a {
            display: inline-block;
            text-align: center;
            background-color: #696f89;
            color: white;
            padding: 20px;
            text-decoration: none;
            text-transform: uppercase;
        }

 @media (max-width: 700px) {
    body {
        
        grid-template-columns: 50px 1fr 50px;
        grid-template-areas: 
        ". tekstas ."
        ". paveiksliukas .";
    }    
        div {
            
            grid-column: 2/3;
        }
        img {
            grid-column: 2/3;
        }
    }


    